<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/blog.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">
    
</head>
<body>
    <!-- Layout para dispositivos móveis -->
    <section class="oculto-desktop">
        <header>
            <a href="/homecomprador">
                <img src="imagens/seta.png" alt="Seta Voltar">
            </a>
            <h1>CONHEÇA AS TENDÊNCIAS NA <br><span class="text">VINTÉLO</span></h1>
            <img src="imagens/foto-branca.png" alt="Imagem de capa">
        </header>

        <main class="grid-container">
            <section class="card">
                <img src="imagens/boss milão 2.png" alt="Desfile BOSS">
                <a href="/bossartigo"><h2>BOSS | Milão <br> Verão 2024</h2></a>
            </section>

            <section class="card">
                <img src="imagens/gucci-milao 1.png" alt="Desfile Gucci">
                <a href="/gucciartigo"><h2>Gucci | Milão <br> Verão 2024</h2></a>
            </section>

            <section class="card">
                <img src="imagens/tendencia sweer.png" alt="Tendência Swer">
                <a href="/sweer"><h2>Tendência | Swer</h2></a>
            </section>

            <section class="card">
                <img src="imagens/metalizado2.png" alt="Moda Metalizada">
                <a href="/artigo"><h2>Moda | Metalizada | <br>looks</h2></a>
            </section>

            <section class="card">
                <img src="imagens/tendencia sustentável.png" alt="Tendência Sustentável">
                <a href="/tensustentavel"><h2>A tendência é: <br>Sustentável</h2></a>
            </section>

            <nav class="grid-sustentável">
                <section class="text-content">
                    <h3>MODA <span>Sustentável</span></h3>
                    <p class="subtitle">Fast fashion <br> Moda sustentável</p>
                    <a href="/ecologicoartigo"><p class="description">NOSSO LADO ECOLÓGICO</p></a>
                </section>
                <img src="imagens/moda sustentável.png" alt="Imagem de moda sustentável" class="content">
            </nav>
        </main>
    </section>
    
    <!-- layout para desktop-->
    <section class="oculto-mobile">
        <header1>
            <section class="top-bar">
                <p>10% OFF na primeira compra</p>
            </section>
            <section class="main-header">
                <a href="/homevendedor">
                  <img src="imagens/logo.png" alt="Logo Vintelo" class="img-logo">
                </a>
                <nav>
                    <a href="/categorias">Vestidos</a>
                    <a href="/categorias">Saias</a>
                    <a href="categorias">Blusas</a>
                    <a href="categorias">Calças</a>
                    <a href="categorias">Outros</a>
                </nav>
                <div class="search-profile">
                    <form>
                        <input type="text" placeholder="Buscar...">
                    </form>
                    <ul>
                        <li><a href="/carrinho"><img src="imagens/icone saco.png" class="img-tamanho" alt="Sacola"></a></li>
                        <li><a href="/perfilcliente"><img src="imagens/imagem sem cadastro.avif" class="maria" alt="Perfil"></a></li>
                        <li><a href="#"><img src="imagens/icone coraçao.png" class="img-tamanho" alt="Favoritos"></a></li>
                    </ul>
                </div>
            </section>
        </header>

        <main class="blog-content">
            <section class="featured-post">
                <section class="text-content">
                    <span>05 nov</span>
                    <h3>Style</h3>
                    <h2>Moda Metalizada</h2>
                    <p>"Brilha, brilha, movie star". A tendência metalizada de 2024 é a oportunidade para você
                        transformar cada momento em uma chance para reluzir, incorporando esse brilho
                        atemporal ao seu estilo diário, reinventando o básico com um toque de glamour.</p>
                    <a href="/artigo" class="read-more">Ver agora</a>
                </section>
                <img src="imagens/metalizado.png" alt="Imagem Destaque Moda Metalizada">
            </section>

            <section class="featured-post">
                <section class="text-content">
                    <span>03 nov</span>
                    <h3>BOSS</h3>
                    <h2>BOSS | Milão Verão 2024</h2>
                    <p>Uma distopia na qual seres humanos se unem às máquinas. Esta não é uma premonição, nem um
                        misto do que já ocorre, mas a sensação transmitida pelo desfile da Boss. Batizada de Techtopia, a coleção focou na alfaiataria clássica da marca, em tons
                        sóbrios como cinza, marrom e azul-marinho. Clássico como era esperado, mas o destaque ficou para os
                        acessórios de cabelo, com coques presos com canetas e grampos definindo penteados.</p>
                    <a href="/artigos" class="read-more">Ver agora</a>
                </section>
                <img src="imagens/boss milão.png" alt="Imagem Destaque Boss">
            </section>

            <section class="featured-post">
                <section class="text-content">
                    <span>25 out</span>
                    <h3>Moda</h3>
                    <h2>Gucci Milão</h2>
                    <p>Sabato de Sarno apresentou sua primeira coleção como diretor criativo da Gucci em Milão.
                        "É uma história de pessoas fabulosas e diversas; são Getty imagens de pessoas legais de todas as idades e são inclusivas,
                        pois todos são bem-vindos", declarou sobre o desfile em comunicado à imprensa.</p>
                    <a href="/artigos" class="read-more">Ver agora</a>
                </section>
                <img src="imagens/desfile vogue.png" alt="Imagem Destaque Gucci">
            </section>
            </main>
    </section>

    <!-- Rodapé -->
    <footer class="footer">
        <img src="imagens/logo_vintélo_clara 1.png" alt="Logo do Rodapé" class="footer-image">
        <section class="social-media">
            <p>Siga nossas redes sociais</p>
            <ul class="social-links">
                <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/Facebook.png" alt="Facebook"></a></li>
                <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/Pinterest.png" alt="Twitter"></a></li>
                <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/Instagram.png" alt="Instagram"></a></li>
            </ul>
        </section>
        <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
    </footer>

</body>
</html>