<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/categorias.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">
    

  </head>
    <body>

      <header>
        <nav class="grid">
          <a href="/index">
            <img src="imagens/seta.png" alt="Seta Voltar">
          </a>
          <img src="imagens/logo.png" alt="Logo">
          <a href="/carrinho">
            <img src="imagens/carrinho.png" alt="Carrinho">
          </a>
        </nav>
      </header>
      

     <main>
       <br>
       <br>
       <center><h2>Categoria de Blusas</h2></center> 
       <br>
       <main class="product-list">
        <article class="product">
            <a href="/produto1"><img src="imagens/cropped flor.png" alt="cropped flor"></a>
            <p class="legenda">Cropped Flor</p>
            <p class="legenda">R$19,99</p>
        </article>

        <article class="product">
            <a href="/produto4"><img src="imagens/cropeed Rosa.png" alt="Cropeed Rosa"></a> 
            <p class="legenda">Cropeed Rosa</p>
            <p class="legenda">R$20,00</p>
        </article>

        <article class="product">
            <img src="imagens/regatinha branca.png" alt="regatinha branca">
            <p class="legenda">Regatinha Branca</p>
            <p class="legenda">R$25,00</p>
        </article>

        <article class="product">
            <img src="imagens/cropped cinza.png" alt="cropped cinza">
            <p class="legenda">Cropped Cinza </p>
            <p class="legenda">R$29,99</p>
        </article>

        <article class="product">
            <img src="imagens/cropped verde.png" alt="cropped verde">
            <p class="legenda">Cropped Verde</p>
            <p class="legenda">R$17,00</p>
        </article>

        <article class="product">
            <img src="imagens/cropped laranja.png" alt="cropped laranja">
            <p class="legenda">cropped Bufante Laranja</p>
            <p class="legenda">R$15,00</p>
        </article>
     </main>

      <!-- Rodapé -->
    <footer class="footer">
      <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
      <section class="social-media">
        <p>Siga nossas redes sociais</p>
        <ul class="social-links">
          <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/icone do face.jpeg" alt="Facebook"></a></li>
          <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/icone do twitter.jpeg" alt="Twitter"></a></li>
          <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/icone do insta.jpeg" alt="Instagram"></a></li>
        </ul>
      </section>
       <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
    </footer>
    </body>
  </html>