<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/bossartigo.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">

</head>
<body>
        <header class="header">
            <nav class="grid">
                <a href="/blog">
                  <img src="imagens/seta.png" alt="Seta Voltar">
                </a>
                <h1>BOSS | Milão | Verão 2024</h1>
                <img src="imagens/foto-branca.png">
              </nav>
        </header>
    <main>
      <br>
        <section class="content">
            <img src="imagens/boss milão.png" alt="Desfile Boss" class="image-main">
            <p class="description-2">vogue- publicado 09/2023</p>
            <p class="description">
                Uma distopia na qual seres humanos se unem às máquinas. Esta não é uma premonição, nem um
                misto do que já ocorre, mas a sensação transmitida pelo desfile da Boss, que aconteceu em Milão
                nesta sexta-feira (22). Batizada de Techtopia, a coleção focou na alfaiataria clássica da marca, em tons
                sóbrios como cinza, marrom e azul-marinho. Clássico como era esperado, mas o destaque ficou para os
                acessórios de cabelo, com coques presos com canetas e grampos definindo penteados.
            </p>
            <center><img src="imagens/modelo milão 1.png" alt="Desfile Boss" class="img-responsiva"></center>
        </section>
    </main>
    <br>
    <!-- Rodapé -->
    <footer class="footer">
        <img src="imagens/logo_vintélo_clara 1.png" alt="Imagem do Rodapé" class="footer-image">
        <section class="social-media">
          <p>Siga nossas redes sociais</p>
          <ul class="social-links">
            <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/Facebook.png" alt="Facebook"></a></li>
            <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/Pinterest.png" alt="Twitter"></a></li>
            <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/Instagram.png" alt="Instagram"></a></li>
          </ul>
        </section>
         <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
      </footer>
</body>
</html>
