<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/categorias.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">

  </head>
    <body>
      <header>
        <nav class="grid">
          <a href="/index">
            <img src="imagens/seta.png" alt="Seta Voltar">
          </a>
          <img src="imagens/logo.png" alt="Logo">
          <a href="/carrinho">
            <img src="imagens/carrinho.png" alt="Carrinho">
          </a>
        </nav>
      </header>
      
    <main>
        <br>
              <!-- Categoria Blusas -->
<!-- Categoria Blusas -->
  <h3 class="titulo">Categoria de Blusas</h3>
    <br>
    <main class="carousel-container">
    <section class="product-list">
    <article class="product">
      <img src="imagens/regatinha branca.png" alt="regatinha branca">
      <p class="legenda">Regatinha Branca</p>
      <p class="legenda">R$25,00</p>
    </article>

    <article class="product">
      <img src="imagens/cropped cinza.png" alt="cropped cinza">
      <p class="legenda">Cropped Cinza </p>
      <p class="legenda">R$29,99</p>
    </article>

        <article class="product">
          <a href="/produto1"><img src="imagens/cropped flor.png" alt="cropped flor"></a>
          <p class="legenda">Cropped Flor</p>
          <p class="legenda">R$19,99</p>
        </article>    

    <article class="product">
      <img src="imagens/cropped verde.png" alt="cropped verde">
      <p class="legenda">Cropped Verde</p>
      <p class="legenda">R$17,00</p>
    </article>
  </main>

<br>
<!-- Categoria Saias -->
<h3 class="titulo">Categoria de Saias</h3>
<br>
<main class="carousel-container">
  <section class="product-list">
    <article class="product">
      <a href="/produto1"><img src="imagens/saia rosa brilhante.png" alt="saia rosa brilhante"></a>
      <p class="legenda">Saia Rosa Brilhante</p>
      <p class="legenda">R$19,99</p>
    </article>

    <article class="product">
      <a href="/produto4"><img src="imagens/saia preta brilhante.png" alt="saia preta brilhante"></a> 
      <p class="legenda">Saia Preta Brilhante</p>
      <p class="legenda">R$20,00</p>
    </article>

    <article class="product">
      <img src="imagens/saia marrom.png" alt="saia marrom">
      <p class="legenda">Saia Marrom</p>
      <p class="legenda">R$25,00</p>
    </article>

    <article class="product">
      <img src="imagens/saias preto e branca.png" alt="saias preto e branca">
      <p class="legenda">Conjunto de Saias</p>
      <p class="legenda">R$39,99</p>
    </article>

    <article class="product">
      <img src="imagens/saia marrom de couro.png" alt="saia marrom de couro">
      <p class="legenda">Saia De Couro</p>
      <p class="legenda">R$17,00</p>
    </article>

    <article class="product">
      <img src="imagens/saia nude.png" alt="saia nude">
      <p class="legenda">Saia Nude</p>
      <p class="legenda">R$15,00</p>
    </article>
  </section>
</main>
<br>
 <!-- Categoria Vestidos -->
<h3 class="titulo">Categoria de Vestidos</h3>
<br>
<main class="carousel-container">
  <section class="product-list">
    <article class="product">
      <a href="/produto1"><img src="imagens/vestido branco.png" alt="vestido branco"></a>
      <p class="legenda">Vestido Branco</p>
      <p class="legenda">R$25,00</p>
    </article>

    <article class="product">
      <a href="/produto4"><img src="imagens/vestido roxo.png" alt="vestido roxo"></a> 
      <p class="legenda">Vestido Roxo</p>
      <p class="legenda">R$20,00</p>
    </article>

    <article class="product">
      <img src="imagens/vestido rosa.png" alt="vestido rosa">
      <p class="legenda">Vestido Rosa</p>
      <p class="legenda">R$25,00</p>
    </article>

    <article class="product">
      <img src="imagens/vestido preto.png" alt="vestido preto">
      <p class="legenda">Vestido Preto</p>
      <p class="legenda">R$49,99</p>
    </article>

    <article class="product">
      <img src="imagens/vestido roxo2.png" alt="vestido roxo2">
      <p class="legenda">Vestido Roxo</p>
      <p class="legenda">R$57,00</p>
    </article>
</main>
<br>
 <!-- Categoria Acessórios -->
<h3 class="titulo">Categoria de Acessórios</h3>
<br>
<main class="carousel-container">
  <section class="product-list">
    <article class="product">
      <a href="/produto1"><img src="imagens/oculos.png" alt="Óculos Escuros"></a>
      <p class="legenda">Óculos Escuros</p>
      <p class="legenda">R$19,99</p>
    </article>

    <article class="product">
      <img src="imagens/bolsa.png" alt="Bolsa Preta">
      <p class="legenda">Bolsa Preta</p>
      <p class="legenda">R$25,00</p>
    </article>

    <article class="product">
      <img src="imagens/aneis.png" alt="Conjunto De Anéis">
      <p class="legenda">Conjunto De Anéis</p>
      <p class="legenda">R$29,99</p>
    </article>

    <article class="product">
      <img src="imagens/relogios.png" alt="Relógio Rose Gold">
      <p class="legenda">Relógio Rose Gold</p>
      <p class="legenda">R$17,00</p>
    </article>

    <article class="product">
      <img src="imagens/pulseira.png" alt="Braceletes">
      <p class="legenda">Braceletes</p>
      <p class="legenda">R$15,00</p>
    </article>
  </section>
</main>

    </main>
    <!--                                                    Rodapé                                                      -->
    <footer class="footer">
      <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
      <section class="social-media">
        <p class="p-footer">Siga nossas redes sociais</p>
        <ul class="social-links">
          <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/Facebook.png" alt="Facebook"></a></li>
          <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/Pinterest.png" alt="Pinterest"></a></li>
          <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/Instagram.png" alt="Instagram"></a></li>
        </ul>
      </section>
       <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>