<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/ecologicoartigo.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">
    
</head>
<body>
    <!-- Header Section -->
    <header>
        <nav class="grid-2">
        <a href="/blog">
            <img src="imagens/seta.png" alt="Seta Voltar">
          </a>
        <h1>Conheça Nosso Lado <span class="highlight">Ecológico</span></h1>
    </nav>
    </header>


    <section class="main-info">
        <img src="imagens/ecologico.png" alt="Gráfico Ecológico">
        <p class="date-info">Vintélo - publicado 10/2023</p>
    </section>
    <nav class="grid">
        <section class="fast-fashion">
            <section class="text-content">
                <h2>Fast Fashion</h2>
                <p>
                    Fast Fashion significa moda rápida, é o termo utilizado para designar a renovação constante das peças comercializadas no varejo de moda.
                </p>
            </section>
            <img src="imagens/roupas dobradas.png" alt="Roupas dobradas">
        </section>
    </nav>
    
    <nav class="grid">
        <section class="moda-sustentavel">
            <section class="text-content">
                <h2>Moda Sustentável</h2>
                <p>
                    A moda sustentável é um termo usado para descrever uma abordagem que leva em consideração o impacto ambiental, social e econômico, da produção de roupas, acessórios e calçados.
                </p>
            </section>
            <img src="imagens/moda sustentável.png" alt="Guarda-roupa sustentável">
        </section>
    </nav>
    
    <!-- Rodapé -->
    <footer class="footer">
        <img src="imagens/logo_vintélo_clara 1.png" alt="Imagem do Rodapé" class="footer-image">
        <section class="social-media">
          <p>Siga nossas redes sociais</p>
          <ul class="social-links">
            <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/Facebook.png" alt="Facebook"></a></li>
            <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/Pinterest.png" alt="Twitter"></a></li>
            <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/Instagram.png" alt="Instagram"></a></li>
          </ul>
        </section>
         <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
      </footer>
</body>
</html>
