<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/esqueceusenha.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">
    
  </head>
  <body>
    <header>
      <nav class="grid">
        <a href="/cadastro">
          <img src="imagens/seta.png" alt="Seta Voltar">
        </a>
        <img src="imagens/logo.png" alt="Logo">
        <a href="/carrinho">
          <img src="imagens/carrinho.png" alt="Carrinho">
        </a>
      </nav>
    </header>
  <br>
  <br>
  <main>
    <center><img src="imagens/imagem da senha.png" class="img-responsiva"></center>
    <br>
    <p class="divider">Redefina sua senha</p>
    <br>
    <br>
    <form>
        <label for="username">Endereço De Email</label>
        <input type="text" id="username" value="Maria">
    
        <label for="password">Senha Antiga</label>
        <input type="password" id="password" value="HJ@#9783kja">
         
        <label for="password">Nova Senha</label>
        <input type="password" id="password" value="HJ@#9783kja">
      </form>
  </main>
  <br>
  <p>Por favor, escreva seu e-mail para definir uma nova senha.</p>
  <br>
  <br>
<footer>
  <a href="/homecomprador"><button class="login-btn">Redefinir Senha</button></a> 
</footer>