<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/gucciartigo.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">
    
</head>
<body>
    <header class="header">
        <nav class="grid">
            <a href="/blog">
              <img src="imagens/seta.png" alt="Seta Voltar">
            </a>
             <h1>Gucci | Milão | Verão 2024</h1>
          </nav>
    </header>

        <!-- Conteúdo principal -->
        <main class="main-content">
            <img src="imagens/gucci-milao 1.png" alt="Desfile Gucci" class="main-img">
            <p class="subtitle">
                Vogue: publicado 10/2023
            </p>
            <br>
            <p class="description">
                Sabato de Sarno apresentou sua primeira coleção como diretor criativo da Gucci, nesta quinta-feira (22), em Milão. 
                “É uma história de pessoas fabulosas e diversas; são Getty imagens de pessoas legais de todas as idades e são inclusivas, pois todos são bem-vindos”, declarou sobre o desfile em comunicado à imprensa.
            </p>
            <br>
            <p class="note">
                Gucci | Milão | Verão 2024
            </p>
            <br>
            <section class="gallery">
                <img src="imagens/modelo milão 2.png" alt="Look 1">
                <img src="imagens/modelo gucci 3.png" alt="Look 2">
            </section>
        </main>
         <br>
        <!-- Rodapé -->
    <footer class="footer">
        <img src="imagens/logo_vintélo_clara 1.png" alt="Imagem do Rodapé" class="footer-image">
        <section class="social-media">
          <p>Siga nossas redes sociais</p>
          <ul class="social-links">
            <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/Facebook.png" alt="Facebook"></a></li>
            <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/Pinterest.png" alt="Twitter"></a></li>
            <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/Instagram.png" alt="Instagram"></a></li>
          </ul>
        </section>
         <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
      </footer>
</body>
</html>
