
<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/pedidos.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">
    
  </head>
  <body>
      <section class="container">
        <header>
            <nav class="grid">
              <a href="/homevendedor">
                <img src="imagens/seta.png" alt="Seta Voltar">
              </a>
              <img src="imagens/logo.png" alt="Logo">
              <a href="/carrinho">
                <img src="imagens/carrinho.png" alt="Carrinho">
              </a>
            </nav>
          </header>
        <main class="main">
        <section class="order-section">
          <section class="order-date">15 de Agosto</section>
          <section class="order-card">
            <img src="imagens/vestido branco.png" alt="Vestido Branco Longo" class="product-image">
            <section class="order-info">
              <h2 class="product-title">Vestido Branco Longo</h2>
              <p class="status in-progress">A caminho</p>
              <p class="delivery-info">Chegará hoje antes das 21h</p>
            </section>
          </section>
    
          <section class="order-date">24 de Julho</section>
          <section class="order-card">
            <img src="imagens/vestido roxo2.png" alt="Vestido Magenta com Decote" class="product-image">
            <section class="order-info">
              <h2 class="product-title">Vestido Magenta com Decote</h2>
              <p class="status canceled">Pedido cancelado</p>
              <p class="delivery-info">Reembolsamos seu dinheiro na conta em que você pagou via PIX</p>
            </section>
          </section>
    
          <section class="order-date">11 de Junho</section>
          <section class="order-card">
            <img src="imagens/regata branca.png" alt="Regata Branca" class="product-image">
            <section class="order-info">
              <h2 class="product-title">Regata Branca</h2>
              <p class="status delivered">Entregue</p>
              <p class="delivery-info">Chegou no dia 13 de julho</p>
            </section>
          </section>
    
          <section class="order-date">05 de Maio</section>
          <section class="order-card">
            <img src="imagens/conjunto de blusa rosa.png" alt="Conjunto Rosa de Malha" class="product-image">
            <section class="order-info">
              <h2 class="product-title">Conjunto Rosa de Malha</h2>
              <p class="status delivered">Entregue</p>
              <p class="delivery-info">Chegou no dia 13 de maio</p>
            </section>
          </section>
        </section>
      </section>
    </main>
    </body>
    </html>
    