<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/categorias.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">

  </head>
    <body>

      <header>
        <nav class="grid">
          <a href="/index">
            <img src="imagens/seta.png" alt="Seta Voltar">
          </a>
          <img src="imagens/logo.png" alt="Logo">
          <a href="/carrinho">
            <img src="imagens/carrinho.png" alt="Carrinho">
          </a>
        </nav>
      </header>
      

     <main>
      <br>
       <center><h2>Categoria de Saias</h2></center> 
       <main class="product-list">
        <article class="product">
            <a href="/produto1"><img src="imagens/saia rosa brilhante.png" alt="saia rosa brilhante"></a>
            <p class="legenda">Saia Rosa Brilhante</p>
            <p class="legenda">R$19,99</p>
        </article>

        <article class="product">
            <a href="/produto4"><img src="imagens/saia preta brilhante.png" alt="saia preta brilhante"></a> 
            <p class="legenda">Saia Preta brilhante</p>
            <p class="legenda">R$20,00</p>
        </article>

        <article class="product">
            <img src="imagens/saia marrom.png" alt="saia marrom">
            <p class="legenda">Saia Marrom</p>
            <p class="legenda">R$25,00</p>
        </article>

        <article class="product">
            <img src="imagens/saias preto e branca.png" alt="saias preto e branca">
            <p class="legenda">Conjunto de Saias </p>
            <p class="legenda">R$39,99</p>
        </article>

        <article class="product">
            <img src="imagens/saia marrom de couro.png" alt="saia marrom de couro">
            <p class="legenda">Saia  De Couro</p>
            <p class="legenda">R$17,00</p>
        </article>

        <article class="product">
            <img src="imagens/saia nude.png" alt="saia nude">
            <p class="legenda">Saia Nude</p>
            <p class="legenda">R$15,00</p>
        </article>
     </main>

        <!-- Rodapé -->
    <footer class="footer">
      <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
      <section class="social-media">
        <p>Siga nossas redes sociais</p>
        <ul class="social-links">
          <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/icone do face.jpeg" alt="Facebook"></a></li>
          <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/icone do twitter.jpeg" alt="Twitter"></a></li>
          <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/icone do insta.jpeg" alt="Instagram"></a></li>
        </ul>
      </section>
       <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
    </footer>
    </body>
  </html>