<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/tendsustentavel.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">
    
</head>

<body>
    <section class="container">
        <!-- Cabeçalho -->
        <header class="header">
            <nav class="grid">
                <a href="/blog">
                  <img src="imagens/seta.png" alt="Seta Voltar">
                </a>
            </nav>
            <h1><span class="light">A tendência é:</span> Sustentável</h1>
        </header>
        <br>
        <!-- Conteúdo principal -->
        <main class="main-content">
            <p class="description">
                <br>
                <img src="imagens/1-tendencia.png" alt="Roupas sustentáveis" class="main-img">
            <br>
                Importante e necessária, a moda sustentável está ganhando destaque nessa temporada e tem aparecido inclusive nos desfiles das semanas de moda, concretizando a ideia de que não é apenas uma tendência passageira.
            </p>
        <br>
        <br>
            <section class="gallery">
                <section class="gallery-item">
                    <img src="imagens/airforce rosa.png" alt="Calçado sustentável 1">
                    <p>Esse movimento se concentra em criar roupas, acessórios e calçados de forma a minimizar o impacto negativo no meio ambiente e nas comunidades humanas. Incentivando o consumo consciente, a economia circular e materiais ecológicos.</p>
                </section>
                <br>
                <section class="gallery-item">
                    <img src="imagens/tenis rosa.png" alt="Calçado sustentável 2">
                    <p>Uma peça de moda sustentável é projetada para durar, usando materiais de alta qualidade e design atemporal, incentivando os consumidores a comprar menos e escolher produtos que resistam ao teste do tempo.</p>
                </section>
            </section>
            <br>
            <a href="#" class="view-all">Ver todos</a>
        </main>
    </section>
    <br>
    <!-- Rodapé -->
    <footer class="footer">
        <img src="imagens/logo_vintélo_clara 1.png" alt="Imagem do Rodapé" class="footer-image">
        <section class="social-media">
          <p>Siga nossas redes sociais</p>
          <ul class="social-links">
            <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/Facebook.png" alt="Facebook"></a></li>
            <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/Pinterest.png" alt="Twitter"></a></li>
            <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/Instagram.png" alt="Instagram"></a></li>
          </ul>
        </section>
         <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
      </footer>
</body>
</html>
