<!DOCTYPE html>
<html>
  <meta charset="UTF-8">
  <head>
    <title>Vintélo</title>
    <link rel="stylesheet" href="css/categorias.css">

    <link rel="icon" href="/imagens/brilhoescuro.png" type="image/x-icon">

  </head>
    <body>

      <header>
        <nav class="grid">
          <a href="/index">
            <img src="imagens/seta.png" alt="Seta Voltar">
          </a>
          <img src="imagens/logo.png" alt="Logo">
          <a href="/carrinho">
            <img src="imagens/carrinho.png" alt="Carrinho">
          </a>
        </nav>
      </header>
      

     <main>
       <br>
       <br>
       <center><h2>Categoria de Vestidos</h2></center> 
       <br>
       <main class="product-list">
        <article class="product">
            <a href="/produto1"><img src="imagens/vestido branco.png" alt="vestido branco"></a>
            <p class="legenda">Vestido Vranco</p>
            <p class="legenda">R$25,00</p>
        </article>

        <article class="product">
            <a href="/produto4"><img src="imagens/vestido roxo.png" alt="vestido roxo"></a> 
            <p class="legenda">Vestido Roxo</p>
            <p class="legenda">R$20,00</p>
        </article>

        <article class="product">
            <img src="imagens/vestido rosa.png" alt="vestido rosa">
            <p class="legenda">Vestido Rosa</p>
            <p class="legenda">R$25,00</p>
        </article>

        <article class="product">
            <img src="imagens/vestido preto.png" alt="vestido preto">
            <p class="legenda">Vestido Preto</p>
            <p class="legenda">R$49,99</p>
        </article>

        <article class="product">
            <img src="imagens/vestido roxo2.png" alt="vestido roxo2">
            <p class="legenda">Vestido Roxo</p>
            <p class="legenda">R$57,00</p>
        </article>

        <article class="product">
            <img src="imagens/vestido pink.png" alt="Vestido Rosa">
            <p class="legenda">Vestido rosa longo</p>
            <p class="legenda">R$15,00</p>
        </article>
     </main>
     <br>
     <br>
      <!-- Rodapé -->
    <footer class="footer">
      <img src="imagens/logo2.jpeg" alt="Imagem do Rodapé" class="footer-image">
      <section class="social-media">
        <p>Siga nossas redes sociais</p>
        <ul class="social-links">
          <li><a href="https://facebook.com" target="_blank" class="social-link"><img src="imagens/icone do face.jpeg" alt="Facebook"></a></li>
          <li><a href="https://twitter.com" target="_blank" class="social-link"><img src="imagens/icone do twitter.jpeg" alt="Twitter"></a></li>
          <li><a href="https://www.instagram.com/vintelobrechos" target="_blank" class="social-link"><img src="imagens/icone do insta.jpeg" alt="Instagram"></a></li>
        </ul>
      </section>
       <p class="copyright">©2024 Vintélo. Todos os direitos reservados.</p>
    </footer>
    </body>
  </html>