/* styles.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Prata, Montserrat;
  }
  
  body {
    background-color: #ffffff;
  }
  
  
  /*                                                Header - Mobile First                                                 */
  header {
    background-color: #fff;
    padding: 40px;
  }
  
  header .grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header img {
    height: 100px;
  }

  /*                                                   corpo da pagina                                                  */                      
  .main{
   padding: 50px;
  }
  .back-button {
    font-size: 28px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
  }
  
  h1 {
    flex: 1;
    text-align: center;
    font-size: 28px;
    color: #333;
  }
  
  .cart-button {
    font-size: 28px;
    background: none;
    border: none;
    color: #8C1D40;
    cursor: pointer;
  }
  
  .order-section {
    padding: 20px;
  }
  
  .order-date {
    font-size: 26px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .order-card {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.274);
  }
  
  .product-image {
    width: 300px;
    height: 350px;
    border-radius: 8px;
    margin-right: 15px;
  }
  
  .order-info {
    display: flex;
    flex-direction: column;
  }
  
  .product-title {
    font-size: 26px;
    color: #333;
    margin-bottom: 5px;
  }
  
  .status {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3px;
  }
  
  .status.in-progress {
    color: #28a745;
  }
  
  .status.canceled {
    color: #ff4d4f;
  }
  
  .status.delivered {
    color: #28a745;
  }
  
  .delivery-info {
    font-size: 24px;
    color: #888;
  }
  